<div class="z-depth-1">
  <table class="table  table-hover table-bordered table-responsive-md btn-table" mdbTable   >
    <thead style="background-color: transparent">
      <tr>
        <th>Category</th>
        
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let material of materials; trackBy: trackByFn">
        <th scope="row">{{ material.name }}   

          <a (click)="onEdit(material)" class="mr-2"><mdb-icon fas icon="edit"></mdb-icon></a>
          <a (click)="onDelete(material)"><mdb-icon fas icon="trash"></mdb-icon></a>
        </th>

      

        <td> 
<p>Selected</p>
<p>{{item}}</p>
<div *ngIf="material.options"> <p *ngFor="let item of material.options" (click)="selected(item.id)"> {{item.name}}</p></div>          

        
        
        </td>
        

        <td>
     
         
        </td>
        <td>
           {{finalCost}} </td>
      </tr>
    </tbody>
  </table>
</div>
