<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">{{ heading }}</h4>
  </div>
  <div class="modal-body">
    <form #materialForm="ngForm">
      <div class="md-form">
        <input type="text" id="id" name="id" class="form-control" [(ngModel)]="material.id" mdbInput mdbValidate [validateSuccess]="false" #id="ngModel" required>
        <label for="id">Id</label>
        <mdb-error *ngIf="id && id.invalid && (id.dirty || id.touched)">Id is required</mdb-error>
      </div>

      <div class="md-form">
        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="material.name" mdbInput mdbValidate [validateSuccess]="false" #name="ngModel" required>
        <label for="name">Name</label>
        <mdb-error *ngIf="name && name.invalid && (name.dirty || name.touched)">Name is required</mdb-error>
      </div>

     
  
      <div class="md-form">
        <input type="text" id="type" name="type" class="form-control" [(ngModel)]="material.type" mdbInput mdbValidate [validateSuccess]="false" #id="ngModel" required>
        <label for="type">Type</label>
        <mdb-error *ngIf="type && type.invalid && (type.dirty || type.touched)">Type is required</mdb-error>
      </div>
      
      <div class="md-form">
        <input type="number" id="cost" name="cost" class="form-control" [(ngModel)]="material.cost" mdbInput    #id="ngModel" >
        <label for="cost">Cost</label>
      </div>
      <div class="md-form">
        <input type="number" id="multiplier" name="multiplier" class="form-control" [(ngModel)]="material.multiplier" mdbInput    #id="ngModel" >
        <label for="multiplier">Multiplier</label>
      </div>
      <div class="md-form">
        <input type="number" id="price" name="price" class="form-control" [(ngModel)]="material.price" mdbInput    #id="ngModel" >
        <label for="price">Price</label>
      </div>
    

           <div class="md-form">
            <input type="text" id="option" name="option" class="form-control" [(ngModel)]="material.option"    mdbInput  #id="ngModel"  >
            <label for="option">Option</label>
             </div>
       
         <div>
          <input type = "checkbox"   id="active" name="active"  [(ngModel)]="material.active"  mdbInput     #id="ngModel"  >
          <label for="active">	&nbsp; Active</label>
        </div>

        <div>
          <input type = "required"   id="required" name="required"  [(ngModel)]="material.required"  mdbInput     #id="ngModel"  >
          <label for="required">	&nbsp; Required</label>
        </div>

<div class="md-form">
  <select multiple   id="options" name="options" class="form-control " [(ngModel)]="material.options"    mdbInput  #id="ngModel"  >  
    <option *ngFor="let opt of materials" 
    [value]="{key:opt.key, name:opt.name}" 
   >
  {{opt.name}}
</option> 
</select>
           </div>

        <div class="md-form">
          <input type="text" id="note" name="note" class="form-control" [(ngModel)]="material.note"    mdbInput  #id="ngModel"  >
          <label for="note">Note</label>
           </div>
        
     
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="white" class="black-text waves-light" aria-label="Close" (click)="modalRef.hide()"
      mdbWavesEffect>Close</button>
    <button type="button" mdbBtn color="red" class="relative waves-light" mdbWavesEffect (click)="onSave()">Save</button>
  </div>
</div>
