<div class="z-depth-1">
  <table class="table    table-bordered table-responsive-md btn-table" mdbTable   >
    <thead style="background-color: transparent">
      <tr>
      
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let option of options; trackBy: trackByFn">
        <th scope="row">{{ option.id }}</th>
        
        
        <td>
          <p *ngFor="let opt of option.options"> <button  (click)= "setOption(opt)" > {{ opt.name }}</button> 
          </p>
          
          Active: {{ option.active }}
          <p><a (click)="onEdit(option)" class="mr-2"><mdb-icon fas icon="edit"></mdb-icon></a>
            <a (click)="onDelete(option)"><mdb-icon fas icon="trash"></mdb-icon></a></p>
        </td>
        

        <td></td>
        

        <td>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>
